<section class="container">
  <div class="cart_result">
    <h2>μ¥λ°”κµ¬λ‹</h2>
    <div class="total-price">
      <h2>μ΄ κ°€κ²©</h2>
      <div class="total-pricebox" id="cartTotalPrice"><span id="totalPrice">
          <%= totalPrice %>
        </span>μ›</div>
    </div>

    <div class="cart-items" id="cart-items">
      <% if (message) { %>
        <h2 class="cartEmtMg">
          <%= message %>
        </h2>
        <% } else { %>
          <% items.forEach(item=> { %>
            <input type="checkbox" class="item-checkbox" id="item-check" data-id="<%= item.pro_num %>">
            <label for="item-check">μ„ νƒ</label>
            <div class="cart-item">
              <img class="cart_item_img" src="/item<%= item.pro_num %>.jpg" alt="" />
              <div class="details">
                <div class="title-price-x">
                  <div class="title-price">
                    <h2>
                      <%= item.pro_name %>
                    </h2>
                    <p class="cart-item-price">
                      <%= item.pro_price %> μ›
                    </p>
                  </div>
                </div>
                <div class="buttons">
                  <i onclick="decrement('<%= item.pro_num %>')" class="bi bi-dash-lg cart-dashBtn"></i>
                  <h2 id="<%= item.pro_num %>" class="quantity">
                    <%= item.quantity %>
                  </h2>
                  <i onclick="increment('<%= item.pro_num %>')" class="bi bi-plus-lg cart-plusBtn"></i>
                </div>
                <h2>
                  <%= item.quantity * item.pro_price %> μ›
                </h2>
              </div>
              <i onclick="removeItem('<%= item.pro_num %>')" class="bi bi-x-lg cart-delBtn"></i>
            </div>
            <% }); %>
              <% } %>
    </div>

    <div class="cart-actions">
      <button type="button" class="btn btn-outline-success selecCartOrder">μ„ νƒ μƒν’ μ£Όλ¬Έ</button>
      <button type="button" class="btn btn-outline-success allCartOrder">μ „μ²΄ μƒν’ μ£Όλ¬Έ</button>
      <button type="button" class="btn btn-outline-danger removeCartAll">μ¥λ°”κµ¬λ‹ λΉ„μ°κΈ°</button>
    </div>
  </div>
</section>

<div class="alertcontainer3">
  <div class="alerthead">
    <h3>μ£Όλ¬Έ μ „ ν™•μΈ!!</h3>
    <i class="bi bi-x-lg alertClose3"></i>
  </div>
  <div class="alertmain">
    <div class="alertmainCon">
      <h3>β­ μ£Όλ¬Έ μ‹¤μ λ°©μ§€ν•κΈ° β­</h3>
      <br>
      <br>
      <div>μ„ νƒν• μƒν’μ„ μ£Όλ¬Έν•©λ‹λ‹¤ :)</div>
      <div>'μ£Όλ¬Έν•κΈ°'λ¥Ό λ„λ¥΄λ©΄ μ£Όλ¬Έμ΄ μ§„ν–‰λ©λ‹λ‹¤.</div>
      <br>
      <div>μƒλ‹¨μ X ν‘μ‹λ¥Ό λ„λ¥΄κ³  μ£Όλ¬Έ λ‚΄μ©κ³Ό μλ‰μ„ λ‹¤μ‹ν• λ² ν™•μΈ ν›„ μ£Όλ¬Έν•΄μ£Όμ„Έμ” :)</div>
    </div>
  </div>
  <button type="button" class="selecBtn">μ£Όλ¬Έν•κΈ°</button>
</div>

<div class="alertcontainer4">
  <div class="alerthead">
    <h3>μ£Όλ¬Έ μ „ ν™•μΈ!!</h3>
    <i class="bi bi-x-lg alertClose4"></i>
  </div>
  <div class="alertmain">
    <div class="alertmainCon">
      <h3>β­ μ£Όλ¬Έ μ‹¤μ λ°©μ§€ν•κΈ° β­</h3>
      <br>
      <br>
      <div>μ „μ²΄ μƒν’μ„ μ£Όλ¬Έν•©λ‹λ‹¤ :)</div>
      <div>'μ£Όλ¬Έν•κΈ°'λ¥Ό λ„λ¥΄λ©΄ μ£Όλ¬Έμ΄ μ§„ν–‰λ©λ‹λ‹¤.</div>
      <br>
      <div>μƒλ‹¨μ X ν‘μ‹λ¥Ό λ„λ¥΄κ³  μ£Όλ¬Έ λ‚΄μ©κ³Ό μλ‰μ„ λ‹¤μ‹ ν•λ² ν™•μΈ ν›„ μ£Όλ¬Έν•΄μ£Όμ„Έμ” :)</div>
    </div>
  </div>
  <button type="button" class="allBtn">μ£Όλ¬Έν•κΈ°</button>
</div>

<div class="alertcontainer5">
  <div class="alerthead">
    <h3>μ¥λ°”κµ¬λ‹ λΉ„μ°κΈ°</h3>
    <i class="bi bi-x-lg alertClose5"></i>
  </div>
  <div class="alertmain">
    <div class="alertmainCon">
      <h3>π¨ μ „μ²΄ μƒν’ μ‚­μ  π¨</h3>
      <br>
      <br>
      <div class="cartRemText">μ¥λ°”κµ¬λ‹μ λ¨λ“  μƒν’μ΄ μ‚­μ λ©λ‹λ‹¤.</div>
      <br>
      <br>
      <div>μλ» λλ €λ‹¤λ©΄ μƒλ‹¨μ X λ²„νΌμ„ λλ¬μ£Όμ„Έμ”.</div>
    </div>
  </div>
  <button type="button" class="remBtn">λΉ„μ°κΈ°</button>
</div>