<div class="container">
    <div id="modal">
        <div class="modal_layer">
            <div class="modal_content">
                <div class="close_button">
                    <svg id="modal_close_btn" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="currentColor" class="bi bi-x-lg" viewBox="0 0 20 20">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </div>
                <div class="content">
                    <% for (let i=1; i <=9; i++) { %>
                        <div class="swiper" id="modal_<%= i %>">
                            <div class="swiper-wrapper"></div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev">
                                <div class="material-icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="black"
                                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                    </svg>
                                </div>
                            </div>
                            <div class="swiper-button-next">
                                <div class="material-icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="black"
                                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <div id="content" class="description"></div>
                </div>
                <div class="save_button">
                    <a href="#" class="button btnSave but_btn"></a>
                </div>
                <div class="buy_button">
                    <a href="#" class="button btnFloat but_btn"></a>
                </div>
            </div>
        </div>
    </div>
    <% if(products.length> 0) { %>
        <div class="grid search-results">
            <% products.forEach(product=> { %>
                <div class="card image-container">
                    <img id="item<%= product.pro_num %>" src="/item<%= product.pro_num %>.jpg"
                        alt="상품 <%= product.pro_num %>" data-pro_num="<%= product.pro_num %>" />
                    <div class="save-image-btn" onclick="alert('이미지를 저장합니다.')">
                        이미지 저장해서 보기
                    </div>
                    <h2>
                        <%= product.pro_name %>
                    </h2>
                    <p>
                        <%= product.pro_price %>원
                    </p>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <h2 class="search-result">
                검색 결과가 없습니다.
            </h2>
            <% } %>
</div>