<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/banner.css">
    <link rel="stylesheet" href="/imgSlider.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/badge.ejs') %>

    <%- include('./partials/login.ejs') %>
    <%- include('./partials/search.ejs') %>
    <%- include('./partials/cart.ejs') %>

    <main>
        <%- include('./partials/mainBrand.ejs') %>

        <%- include('./partials/swiperMain.ejs') %>

        <%- include('./partials/mainBanner.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>