<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/banner.css">
    <link rel="stylesheet" href="/imgSlider.css">
    
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/badge.ejs') %>

    <%- include('./partials/login.ejs') %>
    <%- include('./partials/search.ejs') %>

    <main>
        <%- include('./partials/mainBrand.ejs') %>

        <%- include('./partials/swiperMain.ejs') %>

        <%- include('./partials/mainBanner.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="../static/menuTog.js"></script>
    <script src="../static/imgSlider.js"></script>
    <script src="../static/User.js"></script>
    <script src="../static/cart.js"></script>
    <script src="../static/search.js"></script>
    <script src="../static/speechSearch.js"></script>
    <script src="../static/Mypage.js"></script>
</body>
</html>