<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/purchase.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/badge.ejs') %>

    <%- include('./partials/login.ejs') %>
    <%- include('./partials/search.ejs') %>

    <main>
        <%- include('./partials/mypage.ejs') %>
        <%- include('./partials/customerTable.ejs') %>
    </main>

    <br>
    <br>
    <div class="user-delbtn"><button type="button" class="btn btn-outline-danger user-del">회원 탈퇴</button></div>
    <br>

    <%- include('./partials/footer.ejs') %>

    <script src="../static/User.js"></script>
    <script src="../static/cart.js"></script>
    <script src="../static/search.js"></script>
    <script src="../static/speechSearch.js"></script>
    <script src="../static/Mypage.js"></script>
</body>
</html>