<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/product.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/badge.ejs') %>

    <%- include('./partials/login.ejs') %>
    <%- include('./partials/search.ejs') %>
    <%- include('./partials/cart.ejs') %>

    <main>
        <%- include('./partials/modalAll.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="../static/menuTog.js"></script>
    <script src="../static/modal.js"></script>
    <script src="../static/login.js"></script>
    <script src="../static/cart.js"></script>
    <script src="../static/search.js"></script>
    <script src="../static/speechSearch.js"></script>
</body>
</html>