<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/purchase.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/badge.ejs') %>

    <%- include('./partials/login.ejs') %>
    <%- include('./partials/search.ejs') %>

    <main>
        <%- include('./partials/purchase.ejs') %>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="../static/menuTog.js"></script>
    <script src="../static/User.js"></script>
    <script src="../static/cart.js"></script>
    <script src="../static/Purchase2.js"></script>
    <script src="../static/PurchaseAll2.js"></script>
    <script src="../static/Address.js"></script>
    <script src="../static/Payment.js"></script>
    <script src="../static/search.js"></script>
    <script src="../static/speechSearch.js"></script>
    <script src="../static/Mypage.js"></script>
</body>
</html>